@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
}
ol, ul {
	list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
button{
    background: transparent;
    border: navajowhite;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
.clearfix{
    overflow: hidden;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/* wrap */
.wrap{
    width: 100%;
}
#header{
    padding: 0 32px 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    transition: .2s ease-in-out;
}
#header.header_dark{
    background-color: #0a0a0a;
    border-bottom: 2px solid #1f1f1f;
}
.logo a{
    width: 75px;
    height: 24px;
    background: url('../images/Untitled-11.png') no-repeat center;
    background-size: cover;
}
.nav{
    text-align: left;
    width: 80%;
    height: 80px;
}
.nav > ul{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px;
 
}
.nav > ul > li{
    padding-right: 20px;
    position: relative;
}
.nav > ul > li:nth-of-type(1){
    width: 20px;
    height: 20px;
    background: url('../images/image.png') no-repeat center;
    background-size: cover;
    margin-right: 20px;
}
.nav ul > li > a{
    color: #fff;
    font-size: 13px;
    padding: 8px 24px;
}
.nav > ul > li > a span{
    display: inline-block;
    padding-left: 5px;
}
.depth_3{
    position: absolute;
    top: 100%;  
    left: 0;
    background-color: #292929;
    min-width: 200px;
    border-top: 3px solid #d13639;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
}
.nav > ul > li:hover .depth_3{
    opacity: 1;
    visibility: visible;
}
.depth_3 ul{
    padding: 20px 10px;
}
.depth_3 ul li{
    border-radius: 10px;
}
.depth_3 ul li a{
    width: 100%;
    color: #c7c7c7;
}
.depth_3 ul li:hover{
    background-color: rgba(128,128,128,.3);
}
.util{
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
}
.lang{
    padding-right: 20PX;
}
.lang a{
    width: 100%;
    height: 100%;
    color: #fff;
}
.lang a i {
    font-size: 24px;
}
.blind{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
}
.search{
    width: 100%;
    height: 100%;
    position: relative;
}
.search_input{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    width: 80%;
    height: 30px;
    padding-left: 20px;
    margin-top: 24px;
    outline: none;
}
#header.header_dark .search_input{
    background-color: #2b2a29;
    border: none;
}
.search_input::placeholder{
    color: #fff;
}
#header.header_dark .search_input::placeholder{
    color: #656462;
}
.search_btn{
    position: absolute;
    top: 30px;
    right: 20px;
    color: #fff;
}
.search_btn i{
    font-size: 20px;
}
.login a{
    background-color: #d13639;
    font-size: 13px;
    color: #111;
    width: 80px;
    text-align: center;
    padding: 7px 0;
    margin-left: 20px;
    border-radius: 30px;
}
.open_menu_btn{
    display: none;
}
.open_menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #1f1f1f;
    transition: .5s ease-in-out;
    transform: translateX(1000px);
}
.menu_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.close_menu_btn{
    padding: 5px;
    border-radius: 16px;
    background-color: #656462;
}
.close_btn i{
    font-size: 32px;
    color: #fff;
}
.menu_logo a{
    width: 40px;
    height: 40px;
    background: url('../images/footer_logo.png') no-repeat center;
    background-size: cover;
}
.menu_lower{
    width: 100%;
}
.menu_lower > ul{
    padding: 0 16px;
}
.menu_lower > ul > li{
    padding: 18px 12px;
}
.menu_lower > ul > li a{
    color: #fff;
    font-size: 16px;
    width: 100%;
    position: relative;
}
.down_menu > a::after{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    background: url('../images/Caret-Symbol-PNG-Clipart.png') no-repeat center;
    background-size: cover;
}
.menu_depth_3 li:hover{
    background-color: #656462;
}
.menu_lower .search{
    display: block;
    width: 188px;
    margin: 0 auto;
}
.menu_lower > a{
    display: block;
    margin: 40px auto;
    width: 90%;
    background-color: #d13639;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    border-radius: 20px;
}
.menu_depth_3{
    padding-left: 20px;
    margin-top: 10px;
    display: none;
}

.down_menu.show .menu_depth_3{
    display: block;
}
.menu_depth_3 li{
    padding: 10px 0;
    border-radius: 10px;
}
.menu_depth_3 li a{
    padding-left: 10px;
}
@media all and (max-width:1024px) { 
    .nav{
        display: none;
    }
    .search{
        display: none;
    }
    .login{
        display: none;
    }
    .lang a i{
        font-size: 24px;
    }
    .open_menu_btn{
        display: block;
        margin-left: 20px;
    }
    .open_btn{
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        transition: .2s ease-in-out;
    }
    .open_btn:hover{
        background-color: #656462;
    }
    .open_btn i{
        font-size: 24px;
        color: #fff;
    }
} 
/* main */

/* main_visual */
.main_visual{
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 160px);
    min-height: 500px;
    background: url('../images/sn23-pr-graphic.png') no-repeat center;
    background-size: cover;
}
.main_visual::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(275deg,rgba(10,10,10,0) 0,rgba(10,10,10,.8) 120%);
}
.main_visual_box{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 10;
    color: #fff;
    text-align: center;
    max-width: 560px;
}
.main_visual_img{
    max-width: 360px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.main_visual_box h1{
    font-size: 31px;
    margin-bottom: 16px;
    font-weight: bold;
}
.main_visual_box p{
    color: #f9f9f999;
    font-size: 20px;
    line-height: 22px;
}

.main_visual_box a{
    padding: 8px 32px;
    font-size: 31px;
    border-radius: 20px;
    background: linear-gradient(315deg,#0bc4e2 0,#2c8cc2 100%);
    color: #fff;
    line-height: 44px;
    margin-top: 50px;
    transition: .2s ease-in-out;
}
.main_visual_box a:hover{
    background: linear-gradient(315deg,#0bc4e2 0,#0bc4e2 50%,#2c8cc2 100%);
    box-shadow: 0 10px 30px -10px rgb(11 196 226 / 25%), 0 10px 30px -10px rgb(11 196 226 / 50%), 0 10px 35px -10px rgb(11 196 226 / 50%);
    -webkit-box-shadow: 0 10px 30px -10px rgb(11 196 226 / 25%), 0 10px 30px -10px rgb(11 196 226 / 50%), 0 10px 35px -10px rgb(11 196 226 / 50%);
    -moz-box-shadow: 0 10px 30px -10px rgb(11 196 226 / 25%), 0 10px 30px -10px rgb(11 196 226 / 50%), 0 10px 35px -10px rgb(11 196 226 / 50%);
}
.main_visual_box a span{
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #111;
    margin-right: 10px;
}
@media all and (max-width:960px){
    .main_visual{
        height: 550px;
    }
    .main_visual_box{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main_visual_img{
        max-width: 215px;
        padding-bottom: 20px;
        
    }
    .main_visual_box h1{
        font-size: 27px;
    }
    .main_visual_box p{
        display: none;
    }
    .main_visual_box a{
        margin-top: 30px;
    }
}
@media all and (max-width:486px){
    .main_visual_box a{
        font-size: 18px;
    }
    .main_visual_box a{
        padding: 8px 16px;
    }
    .main_visual_box a span{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        line-height: 39px;
    }
}
/* news */
.news{
    background-color: #0a0a0a;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}
.news::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(55% 180% at 5% 100%, rgba(11, 196, 226, 0.2) 0,rgba(10,10,10,0) 75%,rgba(10,10,10,0) 100%);
    transform: scaleY(-1);
    z-index: -1;
}
.news_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news_title h2{
    font-size: 48px;
    color: #fff;
    margin-bottom: 60px;
    font-weight: 600;
}
.news_title a{
    color: #fff;
    font-size: 15px;
    padding: 5px 13px;
    border-radius: 8px;
    background-color: #80808033;
    transition: .2s ease-in-out;
}
.news_title a:hover{
    background-color: #656462;
}
.inner{
    max-width: 1980px;
    margin: 0 auto;
    padding: 0 80px;
}
.news_container{
    display: flex;
    justify-content: space-between;
}
.news_img{
    position: relative;
    margin-right: 10px;
}
.news_img a::after{
    content: '';
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(200deg,rgba(10,10,10,0) 50%,rgba(10,10,10,.4) 90%);
}
.news_img a:hover{
    outline: 2px solid #888787;
    outline-offset: 1px;
    border-radius: 8px;
    transition: .1s ease-in-out;
}
.news_img a img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}
.text_box{
    position: absolute;
    top: 80%;
    left: 5%;
}
.text_box h3{
    font-size: 31px;
    color: #fff;
    margin-bottom: 5px;
}
.text_box p{
    font-size: 15px;
    color: #656462e6;
}
.news_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}
.news_text ul li{
    max-height: 120px;
    background-color: rgba(128,128,128,.2);
    border-radius: 8px;
    margin-bottom: 10px;
}s
.news_text ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: .1s ease-in-out ;
}
.news_text ul li a:hover{
    outline: 2px solid #888787;
    outline-offset: 1px;
    border-radius: 8px;
}
.news_card{
    padding: 20px;
    width: 70%;
    position: relative;
}
.news_card h3{
    color: #fff;
    font-size: 18px;
}
.news_card p{
    font-size: 15px;
    color: #656462e6;
}
.news_card_img{
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(10% 0,100% 0,100% 100%,0 100%);
}
.news_card_img.img1{
    background: url('../images/karma-charity-articlebanner.png') no-repeat center;
    background-size: cover;
}
.news_card_img.img2{
    background: url('../images/sn23-state-of-the-game-kor.png') no-repeat center;
    background-size: cover;
}
.news_card_img.img3{
    background: url('../images/the-brink-of-infinity-thumbnail-no-text.jpg') no-repeat center;
    background-size: cover;
}
.news_card_img.img4{
    background: url('../images/sn23-thumbnail-playerbehavior-textless-1920x1080-rkim-v01.jpg') no-repeat center;
    background-size: cover;
}
.hide_link{
    display: none;
}
@media all and (max-width:1280px){
    .news_title{
        justify-content: center;
    }
    .news_title h2{
        text-align: center;
        font-size: 31px;
    }
    .news_title a{
        display: none;
    }
    .news_container{
        flex-direction: column;
    }
    .news_img{
        width: 100%;
        margin-bottom: 20px;
    }
    .news_img a{
        width: 100%;
    }
    .news_text ul{
        flex-wrap: wrap;

    }
    .news_text ul li{
        width: 100%;
        margin-bottom: 20px;
    }
    .hide_link{
        display: block;
        text-align: center;
        color: #fff;
        font-size: 15px;
        padding: 5px 13px;
        border-radius: 8px;
        background-color: #80808033;
        margin: 0 auto;
        width: 100px;
        margin-top: 20px;
    }
    .hide_link:hover{
        background-color: #656462;
    }
}
@media all and (max-width:870px){
    .inner{
       padding: 0 20px;
    }
    .text_box{
        top: 70%;
    }
}
@media all and (max-width:596px){
    .news_card h3{
        font-size: 1.125rem;
        line-height: 1.2;
        margin-bottom: 4px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 70%;
    }
    .news_card_img{
        width: 150px;
    }
    .text_box h3{
        font-size: 18px;
    }
    .text_box p{
        font-size: 12px;
    }
}


/* games */
.games{
    display: block;
    width: 100%;
    position: relative;
    background-color: #1f1f1f;
    padding: 100px 0;
}
.games_inner h2{
    margin-bottom: 60px;
    font-size: 48px;
    color: #fff;
    font-weight: 600;
}
.games_container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.games_container ul li{
    margin-bottom: 50px;
    padding: 0 10px;
}
.games_container ul li a img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: .1s ease-in-out;
}
.games_container ul li a img:hover{
    outline: 2px solid #656462;
    outline-offset: 2px;
}
.half_img{
    width: 50%;
}
.min_img{
    width: 33.333%;
}
.min_img:last-child{
    margin: 0 auto;
}
@media all and (max-width:1280px){
    .games_inner h2{
        text-align: center;
        font-size: 31px;
    }
    .half_img{
        width: 49%;
    }
    .min_img{
        width: 49%;
    }
}
@media all and (max-width:960px){
    .half_img{
        width: 100%;
    }
    .min_img{
        width: 100%;
    }
    .min_img a{
        width: 100%;
    }

}

/* careers */
.careers{
    display: block;
    width: 100%;
    position: relative;
    background-color: #ebebeb;
}
.careers_inner{
    display: flex;
    justify-content: space-between;
}
.careers_content{
    max-width: 620px;
    padding: 80px 30px;
    text-align: center;
    margin: 0 0 0 auto;
}
.careers_content h2{
    font-size: 42px;
    margin-bottom: 24px;
    font-weight: 600;
}
.careers_content p{
    font-size: 20px;
    color: #656462;
    margin: 0 55px 40px;
    font-weight: 500;
}
.careers_job{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.careers_job a{
    width: 48%;
    padding: 20px;
    font-size: 25px;
    color: #656462;
    border-radius: 8px;
    background-color: #adacaa33;
}
.careers_job a span{
    font-size: 50px;
    display: block;
    color: #111;
    font-weight: bold;
}
.careers_more{
    font-size: 20px;
    padding: 16px 42px;
    background-color: #d1363a;
    color: #fff;
    border-radius: 20px;
    transition: .2s ease-in-out;
}
.careers_more:hover{
    background-color: #f16f73;
}
.careers_img{
    background: url('../images/annie.jpg') no-repeat center;
    background-size: cover;
    width: 55%;
    clip-path: polygon(10% 0,100% 0,100% 100%,0 100%);
}
@media all and (max-width:960px){
    .careers_inner{
        flex-direction: column;
    }
    .careers_content{
        margin: 0 auto;
    }
    .careers_img{
        height: 400px;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@media all and (max-width:550px){
    .careers_content h2{
        font-size: 30px;
    }
    .careers_job a{
        padding: 5px;
    }
    .careers_content p{
        margin: 20px 10px;
    }
    .careers_job a{
        font-size: 18px;
    }
}


/* Footer */
#footer{
    width: 100%;
    background-color: #252423;
}
.footer_top{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #656462;
}
.footer_top ul li a{
    color: #8a8887;
    padding: 10px;
}
.footer_link{
    display: flex;
    align-items: center;
    padding: 30px 0;
 
}
.footer_link li{
    padding-right: 10px;
}
.footer_link li a{
    font-size: 12px;
    transition: .1s ease-in-out;
}
.footer_link li a:hover{
    color: #fff;
    text-decoration: underline;
}
.footer_sns{
    display: flex;
    align-items: center;
}
.footer_sns li a{
    font-size: 24px;
    transition: .1s ease-in-out;
}
.footer_sns li a:hover{
    color: #d13639;
}

.footer_lower{
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.footer_lower ul{
    display: flex;
}
.footer_lower ul li{
    padding-right: 10px;
}
.cookie_btn{
    color: #8a8887;
}
.cookie_btn:hover{
    color: #fff;
    text-decoration: underline;
}
.footer_lower ul li{
    color: #8a8887;
}
.gotop{
    cursor: pointer;
}
.gotop p{
    color: #8a8887;
    transition: .1s ease-in-out;
}
.gotop p:hover{
    color: #fff;
}
.gotop p:hover span{
    color: #d13639;
}
@media all and (max-width:960px){
    .footer_top{
        flex-direction: column;
        align-items: center;
    }
    .footer_link{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_lower{
        flex-direction: column;
        align-items: center;
    }
    .footer_lower ul{
        margin-bottom: 20px;
    }
}
@media all and (max-width:550px){
    .footer_link{
        flex-direction: column;
    }
    .footer_lower ul{
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #656462;
        width: 100%;
        padding-bottom: 30px;
    }
    .footer_lower ul li{
        padding: 30px 0;
    }
}